[Unit]
Description=qBittorrent-nox
Documentation=man:qbittorrent-nox(1)
After=network-online.target local-fs.target
Wants=network-online.target

[Service]
Type=exec
ExecStart=/usr/bin/qbittorrent-nox --webui-port=8080
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
